<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftc300.androidskills">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.MvpAct"/>
        <activity android:name=".dagger2.Dagger2Act"/>
        <activity android:name=".swipeback.SwipeMainAct"/>
        <activity android:name=".swipeback.SwipeViewPagerAct" />
        <activity android:name=".swipeback.SwipeListViewAct" />
        <activity android:name=".swipeback.SwipeWebViewAct" />
        <activity android:name=".autoadaptive.AutoRecyclerAct" />
        <activity android:name=".swiperefresh.RefreshAct" />
    </application>

</manifest>